{{!-- for each task in specified category --}}
{{#each Tasks}}
{{#unless status}}
<li class="todo-item collection-item" data-category="{{SelectionId}}" data-id="{{id}}">
  <input name="{{id}}" type="checkbox" />
  <lable for="{{id}}">{{task}}</lable>
  <input type='text' class='edit' style='display: none;' />
</li>
{{/unless}}
{{/each}}