<ul>
  {{#each Selection}}
  <li>category: {{category}} id: {{id}} tasks: {{Tasks}}</li>
  {{/each}}
</ul>

{{!-- <ul>
  {{#each Selection.dataValues.Tasks}}
  <li>task: {{task}} id: {{id}}</li>
  {{/each}}
</ul> --}}



{{!-- <div>
    <ul>

      <li data-complete="{{complete}}" data-category="{{category}}" data-id="{{id}}">
        <label for="{{id}}"><input type="checkbox" name="{{id}}"></label>
      </li>

    </ul>
  </div>

  <button class="btn btn-primary" data-category="{{category}}" data-toggle="modal"
    data-target="#new-task-modal">add</button>
</div> --}}

<div>
  <h5 class="modal-title">New Task in {{Selection.category}}</h5>


  <form id="new-task">
    <input class="form-control" type="text" name="todo" placeholder="New Task"> <br>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

</div>